
html { height: 100% }
body { height: 100%; margin: 0; padding: 0; color: #fff;  }
.head{
	background-color: #df6018;
	padding:15px 15px;
	width: 100%;
	z-index: 999;
	position: fixed;
	height: 50px;
	
	font-size: 18px;
}
a{color: #df6018;}
.col-xs-10{z-index:150}
.dp_none_app{display: none !important;}
img{max-width: 100%}
.text-right{display: none}
.app_list_thead{padding: 0px}
.p100 {width: 100%}
h1 {font-size: 18px}
.pad0{padding: 0px !important; }
.pad5 {padding-top: 5px;padding-bottom: 5px}
.pad3 {padding-top: 3px;padding-bottom: 3px}
.padb5 {padding-bottom: 5px}
.padb0 {padding-bottom:0px}
.padlr {padding-left:0px; padding-right: 0px}
.mg0{margin: 0px !important;}
.mgt5{margin-top: 5px}
.mgt-5{margin-top: -5px}
.mgt10{margin-top: 10px}
.mgt20{margin-top: 20px}
.mgb10{margin-bottom: 10px}
.mgb20{margin-bottom: 20px; padding: 0px}
.mgb5{margin-bottom: 5px}
.mgt0{margin-top: 0px}
.w100{width: 100%;}
.return_menu{
	display: none;
}
blockquote {
    padding: 10px 12px;
    margin: 0 0 12px;
    font-size: 12px;
    border-left: 2px solid #eee;
}
.menu_overflow{
	max-height:70%;
	overflow-y: auto;
}
td{
padding: 20px 10px !important;
vertical-align: middle !important;
font-size: 13px !important;
}
.panel-heading{display: none}
#map { height: calc(100% - 50px); width: 100% }
.left_menu{
	position: fixed;
	background-color: #2e2e32;
	z-index: 999;
	height: 100%;
	text-transform: uppercase;
}
.pad0{	padding: 0px;}

.left_menu .menu-item{
	padding:5% 0% 5% 30px;
	font-size: 15px;	
	text-transform: capitalize;
	background-color: #4a4a51;
}
a.menu-item{color: #fff; display: block;}
.left_menu .menu-item i{
	margin-right: 25px;
}

.menu-item{
border-top: 1px solid #797979;
border-bottom: 1px solid #2e2e2e;
cursor: pointer;
}
.menu-item-close{
	margin-top:30px;
	text-align: center;
	padding: 5% !important;
	padding-left: 0 !important;
	color: #f26565;
	font-size: 18px!important;
	cursor: pointer;
}
.left_menu h1{text-align: center; font-size: 16px; height:50px; margin: 0px;padding: 15px}

.page{
	color: #000;
	display: none;
	position: absolute;
	margin-top: 50px;
	width: 100%;
	min-height: calc(100% - 50px);
	background-color: #f5f5f5;
	padding-bottom: 70px;

}

/*LIST LOADS*/
.item_order_info{
    background-color: #efefef;
    margin-top: -3px;
   	border: 1px solid #cfcfcf;
    padding:10px 0px;
    font-size: 13px;
    display: none;

}
.item_order{
padding: 3px;
padding-top: 10px;
font-size: 13px;
background-color: #fff;
text-align: center;
color: #000;
margin: 3px 0px;
cursor: pointer;
border: 1px solid #bfbfbf;
border-bottom-width: 2px;
}
img.logo{
height: 32px;
margin-top: -4px;
}

.log_out{width: 15px;}
.return_menu{width: 20px}
.app_list_price{
	font-size: 13px;
	padding: 15px 0px;
	width: 24.333%;
}
.btn-danger {
    background-color: #fff;
    border-radius: 0px;
    color: #d9534f;
    border-color: #d43f3a;
    font-size: 12px;
    padding: 9px 0px;
    margin-top: -2px !important;
}
.app_info_filter{
color: #c0c0c0;
padding: 0px;
font-size: 10px;
text-transform: uppercase;

}

.app_list_date{
font-size: 13px;
padding: 13px 5px !important;
min-height: 50px;
padding-top: 15px !important;

}

.info_middle{
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    line-height: 23px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 12px;
}
.info_middle div{
	padding: 7px 20px;
	border-bottom: 1px solid #e3e3e3;
	font-size: 12px;
	width: 50% !important;
	float: left;
	
}
.app_br_l{	border-left: 1px solid #ddd;}
.app_br_b{	border-bottom: 1px solid #ddd;margin-bottom: 5px;}
.app_br_r{	border-right: 1px solid #ddd;}
.showmap{display: none}
.item_order_info .orderlistplace{display: none}
.orderlistmap{padding: 0px}
.order_list_time ,.order_list_price{
padding: 15px 0px;
display: inline-block;
float: left;
font-size: 13px;
color: #000;

}
.dest_header{
    text-align: left;
    font-size: 14px;
	font-weight: 600;
	padding: 5px 0px;
	color: #8a8a8a;
    text-transform: uppercase;
}


.list_head{
    padding-top:15px;
    color: #868686;


}


.list_order_content{
 background-color: #e2e2e2;
 padding: 3px 5px 20px 5px;
 margin-bottom: 50px;
 display: table;

}

/*FORUM*/

.forumblock{
    border-radius: 5px;
    background-color: #fcfcfc;
    margin-top: 10px;
    border-bottom: 2px solid #d6d6d6; !important;

}
.forum_href{
    color: #525252;
}
.forum_header{
    font-size: 17px;
    padding: 5px 15px;
    margin: 0px;

   border:none !important;
    background-color: #f5f5f5;
}

.forum_info_sm{

    padding: 5px 0px;
    font-size: 12px;
    text-align: center;
    background: -moz-linear-gradient(top,  rgba(196,196,196,0.1) 0%, rgba(196,196,196,0.1) 1%, rgba(204,204,204,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(196,196,196,0.1) 0%,rgba(196,196,196,0.1) 1%,rgba(204,204,204,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(196,196,196,0.1) 0%,rgba(196,196,196,0.1) 1%,rgba(204,204,204,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4c4c4', endColorstr='#66cccccc',GradientType=0 ); /* IE6-9 */
    margin-bottom: -1px;

}
.forumborder{
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    background-color: #ffffff;
    display: table;
    width: 100%;
    padding: 0px;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 1%, rgba(151,169,189,0) 70%, rgba(204,204,204,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 1%,rgba(151,169,189,0) 70%,rgba(204,204,204,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 1%,rgba(151,169,189,0) 70%,rgba(204,204,204,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#4dcccccc',GradientType=0 ); /* IE6-9 */

}
.forum_info_sm .col-md-12{
    display: flow-root;
    color: #6e6e6e;
    font-size: 12px;
    margin-bottom: 10px;
}
.comment_block{
    background-color: #fff;
}
.forum_info_sm .col-md-12:first-child{
    background-color: #ddd;
    border-radius: 5px;
    padding: 3px;
    margin: 13px 16px 2px 16px;
    color: #fff;
    font-size: 14px;
}
.forum_title{
    padding-right: 0px;
    padding-left: 0px;
}
.bottbrdr{
    border-bottom: 1px solid #dddddd;
}
.forumdesc{
    font-size: 12px;
    padding: 5px 15px;
}
.forumblock a{
	font-size: 17px;
	padding: 15px 0 0 0;
	display: block;
}


.forum_thread{
    background-color: #dedede;
   
    padding: 5px 2px;
    border: 1px solid #f3f3f3;


}
.forum_row{
    background-color: #ffffff;
    width: 100%;
    margin: 5px 0px;
  
    border: 1px solid #eee;
  
    padding: 10px 0px 15px 0px  !important;

}
.forum_avatar{
	color: #999;
	border-bottom: 1px solid #eee;
    text-align: center;
    background-color: #f3f3f3;
    padding: 5px;
    padding: 0px 0px 0px 10px;
    max-width: 350px;

}
.f_a_m{
    display: none;
}
.forum_images{
    width: 40%;
}
.forum_text{
	font-size: 12px;
	margin-top: 15px;
}
.forum_text audio{
	width: 100%;
}
.img-thumbnail {
    padding: 2px;
}
.current_comment{
    padding: 20px 10px;
    margin-top: 55px;
    font-size: 15px;
}
.comment_autor{
    margin-top: 17px;
    font-size: 13px;
    text-align: left;
    padding: 0px;
    font-style: italic;
}
a.forum_page , .forum_current_page{
    display: inline-block;
    background-color: #c5cbcd;
    color: #fff;
    padding: 3px 10px;
    margin: 25px 5px 15px 1px;
    border-radius: 3px;
    font-size: 13px;
    border-bottom: 2px solid #b2b2b2;
}
.forum_msg_footer div{
    padding: 0px;
    color: #b3b3b3;
    font-size: 11px !important;
}
.forum_h1{padding: 0px 10px}
.forum_current_page{
    background-color: #ffffff;
    color: #a7adaf;
}
/*RADIO*/
 .radio-block{
 	background-color: #fff;
 	padding: 10px 0px;
 	margin: 5px 0px;
 	font-size: 12px;
 	max-height: 95px;
 	
 }
 .radio-block div{
 	float: left;
 }
.radio-head{
font-size: 10px;
text-align: left;
margin-top: 30px;
}
.radio-img img{
max-height: 70px;
width: 90px;
padding: 0px;
margin-top: 23px;
}
.radio_player{
	width: 100%;
	position: fixed;
	padding: 10px;
	bottom: 70px;
	z-index: 9999999;
	background-color: #151515;
	display: none;
	
	color: #fff;
	font-size: 18px;

}

.radio_name{font-size: 14px}
#radio_player{display: none;}



.login_block{
	background-color: #dedede;
	border-top: 1px solid #fff;
	border-bottom: 2px solid #c8c8c8;
	color: #fff;
	padding: 10px 0px;
	margin-top: 15px;
	border-radius: 5px;
}
.form_error{
color: #d00000;
font-size: 15px;
padding: 0px 30px 13px 25px;
	display: none;

}
.login_block h1{ padding: 15px 25px; margin: 0px; border-bottom: 1px solid #d4d4d4;color: #8e8e8e;}
.brd-t{border-top: 1px solid #e9e9e9; padding-top: 20px}

.user_data{
	padding: 0px;
	display: none;
}
#getorderModal{color: #000;font-size: 13px}
.app_info{display: none;}
.table-hover tr{background-color: #fff;}
.app_hide{display: none}
.bottom_menu{
	height: 70px;
	bottom: 0px;
	width: 100%;
	position: fixed;
	border-top: 1px solid #ccc;
	padding: 5px 0px;
    border-top: 2px solid #fe902a;
    background: #f47916; /* Old browsers */
    background: -moz-linear-gradient(top,  #f47916 0%, #e24612 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f47916 0%,#e24612 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f47916 0%,#e24612 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47916', endColorstr='#e24612',GradientType=0 ); /* IE6-9 */
    padding-top: 10px;
	z-index: 500;
}
.bottom_menu div {text-align: center;}
.bottom_menu i{font-size: 28px;padding-bottom: 5px;}
.bottom_menu span{
font-size: 11px;
display: block;
color: #fff;
text-transform: uppercase;}

.map_menu{
	border-radius: 50px;
border: 6px solid #fff;
padding: 5px 15px;
position: fixed;
left: 10px;
font-size: 30px;
width: 80px;
text-align: center;
height: 80px;
line-height: 60px;
background-color: rgba(0, 0, 0, 0.2);
}
.hide_markers{bottom:300px;}
.set_markers{bottom:200px;}
.marker_list div{
display: block;
padding: 16px;
z-index: 9999999999;
float: left;
border: 3px solid #fff;
margin: 0px 3px;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 10px;
}

.markers_menu{
bottom: 54px;
display: none;
width: 100%;
position: fixed;
z-index: 100;
overflow-x: scroll;
padding: 20px 0px;
}
.marker_list{width: 850px}

.smiles_table{display: none}

.loading{
    display: none;
    position: fixed;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    margin: auto;
    top: 17%;
    left: 20%;
    border: 2px solid #e24812;
    border-radius: 5px;
    padding: 5px 0px;
    text-align: center;
    color: #f5f5f5;
    font-size: 20px;
}
.forum_quote {display: none}
.delete_thread {display: none}
[data-target="#reportModal"]{
    display: none;
}