<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/6.5"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Sta mobile</name>

    <description>
        Slavic Truckers Association mobile application
    </description>

    <author href="http://namgam.com" email="support@namgam.com">
      Pavlushyn Victor
    </author>

    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="2.1.0" source="pgb" />
</widget>